CHESSTREE_DATABASE_URL=jdbc:postgresql://127.0.0.1:5432/chesstree
CHESSTREE_DATABASE_USER=chesstree
CHESSTREE_DATABASE_PASSWORD=replace-with-a-secret
CHESSTREE_PUBLIC_BASE_URL=https://51.250.31.56
CHESSTREE_CORS_HOSTS=51.250.31.56
PORT=8081
